<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать пост</title>
    <link rel="stylesheet" href="static/upload_page_style.css"> <!-- Подключение CSS-файла -->
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/">Pinterest</a>
            </div>
            <div class="nav-links">
                <a href="/gallery">Галерея</a>
                <a href="/create_post" class="active">Создать пост</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="create-post">
            <h1>Создать новый пост</h1>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <!-- Поле для названия поста -->
                <div class="form-group">
                    <label for="id">ID поста:</label>
                    <input type="number" id="id" name="id" required>
                </div>

                <div class="form-group">
                    <label for="name">Название поста:</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <!-- Поле для описания поста -->
                <div class="form-group">
                    <label for="description">Описание поста:</label>
                    <textarea id="description" name="description" rows="4" required></textarea>
                </div>

                <!-- Поле для загрузки изображения -->
                <div class="form-group">
                    <label for="image">Загрузить изображение:</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>

                <!-- Кнопка отправки формы -->
                <button type="submit" class="btn-submit">Отправить пост</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Название сайта. Все права защищены.</p>
        <a href="/privacy">Политика конфиденциальности</a>
    </footer>
</body>
</html>
